{% load static i18n %}
<!DOCTYPE html>
<html lang="{{ request.lang }}">
<head>
    <meta charset="UTF-8">
    <title>django-siteforms demo > {{ title }} > ({% get_current_language as LANGUAGE_CODE %}{{LANGUAGE_CODE}})</title>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

    {% include tpl_head %}

    <style type="text/css">
        #demo-navigation {
            padding: 10px;
        }
        #opts {
            font-size: 12px;
            width: 220px;
            background: #eaeaea;
            float: right;
            padding: 3px;
        }
        .opt{
            margin-right: 10px;
        }
        body {
            margin-bottom: 5em;
        }
        #listing {
            padding: 2em;
        }
    </style>

</head>
<body>

    {% include 'demo_nav.html' %}
    <h1 align="center">{{ title }}</h1>
    {% block body %}{% endblock %}
    {% block listing %}
        <hr>
        <h2>Filtering</h2>
        <div id="listing" align="center">
            {{ form_filtering1 }}

            <table width="100%">
                <tr>
                    <th>created</th>
                    <th>title</th>
                    <th>approved</th>
                    <th>status</th>
                </tr>
                {% for article in listing %}
                    <tr>
                        <td>{{ article.date_created }}</td>
                        <td>{{ article.title }}</td>
                        <td>{{ article.approved }}</td>
                        <td>{{ article.status }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endblock %}
</body>
</html>
